body {
	background-image: url('../images/bg.png');
	background-size: cover;
	font-family: 'Ubuntu', regular;
	min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.container-fluid {
	background-color: #444B54;
	padding-top: 20px;
	padding-bottom: 30px;
	border-style: none;
	box-shadow: 5px 7px 3px #888888;
}

 #logo {
 	position: relative;
	max-width: 80px;
	padding-left: 30px;
	padding-bottom: 30px;
}

#header {
	color: #DADBDD;
	font-size: 50px;
}

#slogan {
	font-size: 15px;
	color: #DADBDD;
	padding-top: 40px;
	padding-left: 10px;
	margin: 0;
	float: right;
	font-style: italic;
}

.container {
	margin-top: 150px;

}

@media screen and (min-width:700px) and (max-width:800px){
	.container {
		margin-top: 185px;
	}
	#map {
    width: 100vw !important;
  }
}

#input-panel {
	position: relative;
	border: 3px;
	border-color: #C3C3C3;
	box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

#panel-heading {
	background-color: #4da9b8;
}

.panel-title {
	color: white;
}

#map-input {
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
	width: 100%
}



#map {
    height:  520px;
    float: left;
    width: 553px;
  }

iframe {
	border: none;
}

.list-group-item.active {
	background-color: #4da9b8;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    border: none;
    cursor: pointer;	
}

.list-group-item-heading {
	font-size: 15px;
}

#route {


margin: 0 auto;


}
/*
footer {
  padding: 10px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #444B54;
  border-top: 5px solid #4da9b8;
  position: absolute;
  bottom: 0;
  width: 100%;
}*/

	.list-group, .selected{

		margin-top: 10px;
	}


	#starts, #searchs {

		width: 219%;
	}

	#ends {

	

	}

	#sub4 {

		margin-left: -2px;

	}



	#route {

		
		width: 300px;
	
	}

	.size {

		box-sizing: border-box;
	}

	.navbar {
    margin-bottom: 40px;
    width:100%;
}

.task {

	height: 291.33px;

}

.items {

	height: 253px;
	
	overflow: auto;
}

.submitbutton {
	margin-left: 15px;
	margin-right: 15px;
}

#direction-panel {
	height: 150px;
	box-shadow: 0 0 30px rgba(0,0,0,0.3);
	overflow: auto;
}

.list-group{
	display:flex;
	flex-direction: column;
	cursor: pointer;
}

.list-group-div{
	display:flex;
	flex-direction: row;
	align-items: center;
    justify-content: flex-start;
}

#list{
	max-height: 800px;
	overflow-y: scroll;
}

.list-group-div img{
	padding-right: 8px;
	padding-top: 8px;
}

.list-group-category{
	padding-left:10px;
}

.submitbutton .panel-body{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#header, .logo-headline{
	display: flex;
	flex-direction: row;
}

.logo-headline{
	align-items: center;
	justify-content: flex-start;
}

.logo-headline h1{
	margin-top:25px;
}

@media screen and (max-width:640px){
	.logo-headline h1{
	font-size:20px;
	}
	.logo-headline #logo{
	max-width:40px !important;
	padding-left:0;
	padding-bottom:45px;
	}
.logo-headline .navbar-brand{
	padding-left:8px;
	padding-right:8px;
}
.slogan-headline #slogan{
	padding-top:25px;
	}
	#map {
    width: 100vw;
  }

}