body {
	background-image: url('../images/bg.png');
	background-size: cover;
	font-family: 'Ubuntu', regular;
	min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.container-fluid {
	background-color: #444B54;
	padding-top: 20px;
	padding-bottom: 30px;
	border-style: none;
	box-shadow: 5px 7px 3px #888888;
}

 #logo {
 	position: relative;
	max-width: 80px;
	padding-left: 30px;
	padding-bottom: 30px;
}

#header {
	color: #DADBDD;
	font-size: 50px;
}

#slogan {
	font-size: 15px;
	color: #DADBDD;
	padding-top: 40px;
	padding-left: 10px;
	margin: 0;
	float: right;
}

.container {
	margin-top: 150px;
}

#input-panel {
	position: relative;
	border: 3px;
	border-color: #C3C3C3;
	box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

#panel-heading {
	background-color: #4da9b8;
}

.panel-title {
	color: white;
}

#map-input {
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
	width: 100%
}

}

#map {
    height:  685px;
    float: left;
    width: 600px;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
  }

iframe {
	border: none;
}

.list-group-item.active {
	background-color: #4da9b8;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    border: none;	
}

.list-group-item-heading {
	font-size: 15px;
}

#route {


margin: auto 100px;
margin-left: 109px;

}

footer {
  padding: 10px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #444B54;
  border-top: 5px solid #4da9b8;
  position: absolute;
  bottom: 0;
  width: 100%;
}

	.list-group{

		margin-top: 10px;
	}


	#starts, #ends {

		width: 219%;
	}

	#route {

		
		width: 300px;
	
	}

	#map {

		height: 450px;
	}

	.size {

		box-sizing: border-box;
	}

	.navbar {
    margin-bottom: 40px;
}

.task {

	height: 291.33px;
	width: 555px;
}

.items {

	height: 253px;
	
	overflow: auto;
}

.submitbutton {
	margin-left: 15px;
	margin-right: 15px;
}